* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}


main{
    width: 390px;
    height: 570px;
    border: 3px solid black;
    margin: 10px auto;

}

p{
    border: 1px solid grey;
    padding: 5px 0;
    margin-block: 10px;
}

.foto{
    width: 170px;
    height: 175px;
    border: 2px solid black;
    
}

a{
    display: block;
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: small;
}

.p1{
    margin-bottom: 40px;
}
.p2{
    margin-top: 20px;
}
.caixa{
    width: 65px;
    height: 75px;
    border: 2px solid black;
    display: inline-block;
}

footer{
    margin: 10px 20px 30px 40px;
    border: 2px solid black;
}

.oieeee{
    margin: 0px;
    border: none;
}